<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>{{var.title}}</h3>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>User Report <small>Activity report</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                            <div class="profile_img">
                                <div id="crop-avatar">
                                    <!-- Current avatar -->
                                    <img class="img-responsive avatar-view"
                                         src="/site/modUser/{{ app.session.get('authentication_data').id }}/{{ app.session.get('authentication_data').image }}"
                                         alt="Avatar" title="Change the avatar">
                                </div>
                            </div>
                            <h3>{{  app.session.get('authentication_data').name_surname }}</h3>

                            <ul class="list-unstyled user_data">
                                <li>
                                    <i class="fa fa-map-marker user-profile-icon"></i>
                                    {{  app.session.get('authentication_data').address }}
                                </li>

                                <li>
                                    <i class="fa fa-briefcase user-profile-icon"></i>
                                    {{  app.session.get('authentication_data').job }}

                                </li>

                                <li class="m-top-xs">
                                    <i class="fa fa-external-link user-profile-icon"></i>
                                    <a href="{{  app.session.get('authentication_data').website }}" target="_blank">
                                        {{  app.session.get('authentication_data').website }}

                                    </a>
                                </li>
                            </ul>

                            <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
                            <br />


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
