{% set data = var.menu  %}

<div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
        {% for nav in data %}
        <li><a><i class="{{ nav.icon }}"></i> {{ nav.name }}<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                {% for navMenu in nav.item %}
                <li><a href="/{{ var.locale }}/{{ navMenu.href }}">{{ navMenu.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>
