<div class="modal fade editModal" tabindex="-1" role="dialog" aria-hidden="true" id="insertModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="edit">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Edit User</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3 col-sm-3" for="nameSurname">{{ var.lang.nameSurname }}<span class="required">*</span>
                        </label>
                        <input type="hidden" name="userId" id="userId">
                        <div class="col-md-6 col-sm-6">
                            <input type="text" id="nameSurname" name="nameSurname" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3 col-sm-3" for="birthday">{{  var.lang.birthday  }}</label>
                        <div class="col-md-6 col-sm-6">
                            <input type="date" id="birthday" required="required"  class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3 col-sm-3" for="mobil">{{  var.lang.mobile_no  }}</label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" id="mobil"  class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3 col-sm-3" for="email"> {{  var.lang.email  }}<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" id="email" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3 col-sm-3" for="address">{{  var.lang.address  }}</label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" id="address" name="address" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3 col-sm-3" for="job">{{  var.lang.job  }}</label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" id="job" name="job" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3 col-sm-3" for="website">{{  var.lang.website  }}</label>
                        <div class="col-md-6 col-sm-6">
                            <input type="url" id="website" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3 col-sm-3" for="group_id">{{ var.lang.member_group  }}
                        </label>
                        <div class="col-md-6 col-sm-6">
                            <select class="form-control" id="edit-group_id" name="group" required></select>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="modal-body">

                    <div class="clear"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">{{ var.lang.genel.tr.form.close }}</button>
                    <button type="submit" class="btn btn-primary">{{ var.lang.genel.tr.form.edit }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $( "#edit" ).submit(function( event ) {

        event.preventDefault();
        status = 'false';
        var data = {};

        data.nameSurname = $('#nameSurname').val();
        data.birthday    = $('#birthday').val();
        data.mobil       = $('#mobil').val();
        data.email       = $('#email').val();
        data.address     = $('#address').val();
        data.job         = $('#job').val();
        data.website     = $('#website').val();
        data.group       = $('.editModal #edit-group_id').val();
        data.userId       = $('.editModal #userId').val();

        $.ajax({
                type: "POST",
                url: "/{{ var.locale }}/api/ModUser/edit_user",
                data: data,
                success: function (msg) {
                    if(msg === 'success.insert'){
                        toastr["success"]("{{ var.lang.genel.tr.success_insert }}");
                        $('.editModal').modal('hide');
                        $('#flex1').flexReload();
                    }else if(msg === "not.roll"){
                        toastr["error"]("{{ var.lang.genel.tr.not_roll }}");
                    }else if(msg === 'not.username'){
                        toastr["error"]("{{ var.lang.hata.5 }}");
                    }else{
                        toastr["error"]("{{ var.lang.genel.tr.unknown }}");
                    }
                }
            }
        );

    })
</script>